* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url('./weather.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
}
div.container {margin: 20px auto 0; width: 400px}
div.container:nth-child(1) {margin-top: 100px}
input {
    display: block;
    border: none;
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 4px;
    outline: none;
    background-color: #222;
    color: #FFF;
}
textarea {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    color: #FFF;
}
button {
    display: block;
    width: 90%;
    height: 35px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px;
    margin: 5px auto;
    background-color: #222;
    color: #FFF;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s background ease-in-out

}
button:hover {
    background-color: #555;
    transition: .5s background ease-in-out
}
#entryHolder {display: none}
#entryHolder > div {
    width: 90%;
    margin: 5px auto;
    padding: 5px 10px;
    border: 1px solid #222;
    background-color: #222;
    color: #FFF;
}